# these requirements must support python 2.7
# it is doubtful that Plex will ever update to Python 3+
typing==3.10.0.0

# youtube_dl is not capable or willing to create a new release so have to install from git
# youtube_dl==2021.12.17
# unknown if dependabot can update this
# git+https://github.com/ytdl-org/youtube-dl.git@26035bde46c0acc30dc053618451d9aeca4b7709#egg=youtube_dl
# do not use git as git in ubuntu 22.04 does not work with python 2.7
https://github.com/ytdl-org/youtube-dl/archive/26035bde46c0acc30dc053618451d9aeca4b7709.zip#egg=youtube_dl
