# these requirements must support python 2.7
# it is doubtful that Plex will ever update to Python 3+
typing==3.10.0.0

# youtube_dl is not capable or willing to create a new release so have to install from git
# youtube_dl==2021.12.17
./third-party/youtube-dl
